*{
  box-sizing: border-box;
}

.App {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-bar, .edit-nav-bar {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background: #0fabbc;
  border-radius: 5px 5px 0 0;
  color: #ffffff;
  font-weight: 700;
}

#editor {
  flex-grow: 1;
  padding: 10px;
  background: #e4f9ff;
  resize: none;
}


#preview {
  flex-grow: 1;
  background: #e4f9ff;
  padding: 10px;
  overflow: auto;
} 

i:hover {
  color: teal;
}